@model IEnumerable<WebEWT.Models.Hero>

@{
    ViewBag.Title = "Justice League";
}
@section head
{
    <link href="~/Content/home-text-style.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/home-script.js"></script>
}

<h1 class="page-title">Justice League</h1>

<div class="effect-img pictute-hero hint" data-title="image Justice League">
    <img src="http://www.dccomics.com/sites/default/files/GalleryChar_1900x900_JusticeLeague_52ab8e54d0a6f0.42170553.jpg" alt="internet">
</div>

<div class="text-JL">
    Greater than the sum of their awe-inspiring parts, the Justice League handles threats too massive for any single hero. Made up of the World’s Greatest Super Heroes, their membership inflates and contracts 
    around each new threat, but the core line-up is known as the Big Seven: Superman, the most powerful hero in the world; Batman, the apex of physical and mental human achievement; Wonder Woman, the Amazon’s 
    princess and greatest warrior; Green Lantern, an intergalactic cop armed with his own power ring; the super-fast Flash; Aquaman, King of the Seven Seas; and Cyborg, a half-man/half-robot outfitted with the 
    world’s most advanced technology.
</div>
<div class="text-JL"> 
    An A-team of crusaders with a superpowered bench deep enough to handle any cosmic foe, these heroes are all still very human at heart, plagued with the flaws that haunt any of us.
</div>

<div class="wrapper">
@foreach (var item in Model)
{
    <h2 class="hero-tab">@Html.DisplayFor(modelItem => item.Name)</h2>
    <div class="block-hero">
        <article>
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="left-img" />
            @Html.DisplayFor(modelItem => item.History)
        </article>
        <div class="like">
            <span>Likes this hero</span>
            <span id="id_@Html.DisplayFor(modelItem => item.Id)" class="link-heart" style="color: @Html.DisplayFor(modelItem => item.Color)">
                <i class="fa fa-heart"></i>
                <span class="count-like">@Html.DisplayFor(modelItem => item.CountLike)</span>
            </span>
        </div>
    </div>
}
</div>
