@model IEnumerable<WebEWT.Models.Hero>

@{
    ViewBag.Title = "Justice League";
}
@section head
{
    <link href="~/Content/home-text-style.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/home-script.js"></script>
}

<h1 class="page-title">Justice League</h1>

<div class="wrapper">
@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
    <div class="block-hero">
        <article>
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="left-img" />
            @Html.DisplayFor(modelItem => item.History)
        </article>
        <div class="like">
            <span>Likes this hero</span>
            <span id="id_@Html.DisplayFor(modelItem => item.Id)" class="link-heart" style="color: @Html.DisplayFor(modelItem => item.Color)">
                <i class="fa fa-heart"></i>
                <span class="count-like">@Html.DisplayFor(modelItem => item.CountLike)</span>
            </span>
        </div>
    </div>
}
</div>
